body{
    height: 100vh;
    background-color: #353535;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section{
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    row-gap: 30px;
}

div{
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    text-align: justify;
}

.linguagem div{
    background-color: #4AADAD;
}
.humanas div{
    background-color: #AD4A4A;
}

.natureza div{
    background-color: #526B45;
}
.matematica div{
    background-color: #FFE47E;
}

.matematica  div h2{
    color: black;
}

.matematica div a:hover{
    color: red;
}
h2{
    /* background-color: red; */
    margin: 10px;
    color: wheat;
    font-size: 1.5em;
}

ul{
    /* background-color: green; */
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin: 10px;
}

a{
    color: rgb(24, 24, 24);
    transition: .1s ease-in-out;
    font-size: 1.2em;
}

a:hover{
    color: wheat;
}